{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
    </tr>
    </thead>
    <tbody>
    {{#memberList}}
        <tr>
            <th scope="row">{{id}}</th>
            <td> <a href="/members/{{id}}">{{email}}</a></td>
            <td>{{password}}</td>
        </tr>
    {{/memberList}}
    </tbody>
</table>
{{>layouts/footer}}