{{>layouts/header}}
{{#member}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <th scope="row">{{id}}</th>
            <td>{{email}}</td>
            <td>{{password}}</td>
        </tr>

    </tbody>
</table>
<a href="/members/{{id}}/edit" class="btn btn-primary">Edit</a>
<a href="/members/{{id}}/delete" class="btn btn-danger">Delete</a>
<a href="/members">Go to Member List</a>
{{/member}}
{{>layouts/footer}}